<!DOCTYPE html>
<html>
<head>{{ bootstrap.load_css() }}
    <style>
        .db {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}


    </style>
</head>

<body>
<div class="db">
    <ul>
        <li style="line-height:30px;margin-bottom:10px;">
            <div class="btn-group" role="group">
                <a href="http://localhost:5000/api/create_table" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">创建表</button>
                </a>
                <a href="http://localhost:5000/api/init_role" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">初始化角色</button>
                </a>
                <a href="http://localhost:5000/api/init_template" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">初始化模版</button>
                </a>
                <a href="http://localhost:5000/api/init_category" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">初始化分类</button>
                </a>
                <a href="http://localhost:5000/api/init_tag" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">初始化标签</button>
                </a>
                <a href="http://localhost:5000/api/init_link" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">初始化链接</button>
                </a>
            </div>
        </li>
        <li style="line-height:30px;margin-bottom:10px;">
            <a>
                <button type="button" class="btn btn-primary btn-lg">测试数据</button>
            </a>
        </li>
        <li style="line-height:30px;margin-bottom:10px;">
            <div class="btn-group" role="group">
                <a href="http://localhost:5000/api/reptile_hanwang" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">爬取韩网</button>
                </a>
                <a href="http://localhost:5000/api/reptile_noval" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">爬取noval</button>
                </a>
                <a href="http://localhost:5000/api/reptile/http2" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">http2爬取</button>
                </a>
                <a href="http://localhost:5000/api/reptile/compress" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">压缩图片</button>
                </a>
                <a href="http://localhost:5000/api/reptile/database" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">数据入库</button>
                </a>
                <a href="http://localhost:5000/api/reptile/replace_url" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">替换图片路径</button>
                </a>
            </div>
        </li>
        <li style="line-height:30px;margin-bottom:10px;">
            <div class="btn-group" role="group">
                <a href="http://localhost:5000/api/chi_tu" style="margin-right:10px;">
                    <button type="button" class="btn btn-primary btn-lg">词图模版入库</button>
                </a>
            </div>
        </li>
    </ul>
</div>
{{ bootstrap.load_js() }}
</body>

</html>